<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/calc.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Calculator App</h1>
            <p class="lead">This is a simple calculator application developed by Cavin Dsouza.</p>
            <hr class="my-4">
        </div>

        <textarea id="resultArea" class="form-control" readonly rows="3"></textarea>

        <table class="table">
            <tr>
                <td colspan="2"></td>
                <td><button id="clrTxt" class="btn btn-danger" aria-label="Clear">C</button></td>
                <td><button id="del" class="btn btn-default" aria-label="Delete">&#9746;</button></td>
            </tr>
            <tr>
                <td><button id="num7" class="btn btn-default" aria-label="7">7</button></td>
                <td><button id="num8" class="btn btn-default" aria-label="8">8</button></td>
                <td><button id="num9" class="btn btn-default" aria-label="9">9</button></td>
                <td><button id="op3" class="btn btn-default" aria-label="Divide">&divide;</button></td>
            </tr>
            <tr>
                <td><button id="num4" class="btn btn-default" aria-label="4">4</button></td>
                <td><button id="num5" class="btn btn-default" aria-label="5">5</button></td>
                <td><button id="num6" class="btn btn-default" aria-label="6">6</button></td>
                <td><button id="op2" class="btn btn-default" aria-label="Multiply">&times;</button></td>
            </tr>
            <tr>
                <td><button id="num1" class="btn btn-default" aria-label="1">1</button></td>
                <td><button id="num2" class="btn btn-default" aria-label="2">2</button></td>
                <td><button id="num3" class="btn btn-default" aria-label="3">3</button></td>
                <td><button id="op1" class="btn btn-default" aria-label="Subtract">&minus;</button></td>
            </tr>
            <tr>
                <td><button id="decp" class="btn btn-default" aria-label="Decimal">.</button></td>
                <td><button id="num0" class="btn btn-default" aria-label="0">0</button></td>
                <td><button id="eq" class="btn btn-default" aria-label="Equals">=</button></td>
                <td><button id="op0" class="btn btn-default" aria-label="Add">&plus;</button></td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="{% static 'js/calc.js' %}"></script>
</body>
</html>
